<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Angelo Luna</h5>
        <div class="row">
          <a href="#/" class="col m3">inicio</a>
          <a href="#/bio" class="col m3">Biografía</a>
          <a href="#/skills" class="col m3">Habilidades</a>
          <a href="#/portfolio" class="col m3">Portafolio</a>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul class="social">
          <li><img src="img/githublogo.svg" alt=""><a class="grey-text text-lighten-3" href="https://github.com/angeloLuna">GitHub</a></li>
          <li><img src="img/fblogo.png" alt=""><a class="grey-text text-lighten-3" href="https://www.facebook.com/angel0Luna">Facebook</a></li>
          <li><img src="img/twitterlogo.png" alt=""><a class="grey-text text-lighten-3" href="https://twitter.com/_angeloLuna">Twitter
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 angeloLuna. All rights reserved. Front-End developer.
<!--   ToDo -->
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>