<div class="bio-resume ">
  <div class="container row ">
    <div class="resume-text container row col s12 m6">
      <div class="right col s12 m8">
        <h3>Resumen</h3>
        <span class="">Busco todos los días aprender algo nuevo para poder crear cosas increibles y superarme a mí mismo. Creo en el poder de la colaboración para mejorar de manera individual y en equipo.
        <br>
        <br>
        Participo con comunidades de desarrollo y tecnología para estar cerca de las nuevas herramientas y tendencias en la creación de productos digitales.
        </span>
      </div>
    </div>
    <div class="bio-img col s12 m6 l5">
      <div class="card">
        <div class="card-image">
          <img src="https://scontent-dfw1-1.xx.fbcdn.net/v/t1.0-9/11150742_947154855314789_5946498821706403381_n.jpg?oh=e9446db88cfb8af6fb5657800a473636&oe=57EC6DF0" >
          <span class="card-title">angeloLuna</span>
        </div>
      </div>
    </div>
</div>

