$bg-color: #009688;
$bg-color-light: #4db6ac;
$bg-color-accent: #64ffda;
$bg-color-dark: #00796b;
$text-color-black: #444;
$white-bg: #EDEEEF;
$non-color: #FFFFFF;

// Header
nav ul a,
nav .brand-logo {
  color: $text-color-black;
}

.button-collapse {
  color: $bg-color;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}


  .parallax-container .section {
    width: 100%;
  }

  #index-banner .section {
    h1 {
        color: $bg-color;
    }
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
    
    #index-banner .section {
        top: 0;
        h1 {
            font-size: 2rem;
        }
        h5 {
            font-size: 1rem;
        }
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

// Footer
footer.page-footer {
  margin: 0;
}

footer {
    a {
        color: white;
    }
    &.page-footer {
        background-color: $bg-color;
    }
}

.social {
    img {
        height: 20px;
        width: 20px;
    }
}

// BIO

.bio-resume {
  background-color: $white-bg;

  span {
    color: $text-color-black;
    font-size: 1.2rem;
  }

  .bio-img {
    margin-top: 3%;
  }
}
@media only screen and (max-width : 600px) {
    .bio-resume {
      span {
        text-align: left;
      }
    }
}

// Bio-edu
.bio-edu {
  background-color: $non-color;
  div {
    margin-top: 20px;
    .responsive-img {
      margin-top: -50px;
    }
  }
}
